@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);


/* General Styling */
header {
  height: 25vh;
  text-align: center;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right, darkseagreen, dodgerblue 110%);
}

h1 {
  font-size: 3em;
  display: block;
}

h3 {
  margin: 5%;
}

h2 {
  margin: 5%;
  text-decoration: underline;
}


/* Link Styling */
a {
  color: black;
}

a:hover, a:visited:hover {
  color: whitesmoke;
}
a:visited{
  color: black;
}


/* Skills and Links Styling */
.links, .skills, .skills div {
  display: inline-block;
}
.links {
  text-align: left;
  box-sizing: border-box;
  margin-top: 20px;
}
.skills ul {
  list-style: inside circle;

}
.links ul {
  list-style: inside circle;
  font-size: 1.5em;
}

.skills {
  box-sizing: border-box;
}

.skills div div {
  height: 400px;
}

/* Styling for Projects */

.projects div {
  margin: 10px;
  padding: 20px;
  /*width: 50%;*/
  box-sizing: border-box;
}

.project p {
  display: inline-block;
  width: 30%;
}
.projects div:nth-child(even) {
  text-align: left;
}

.projects div:nth-child(odd) {
  text-align: right;
}
