@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);

header {
  height: 50vh;
  /*display: flex;*/
  text-align: center;

}

h1, h2, p, h3, h4, h5, h6 {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 3em;
  align-content: flex-start;
  /*flex: 0 1 100%;*/
  display: block;
}

main {
  /*display: flex;*/
  flex-direction: row;
}

h3 {
  margin: 5%;
  /*flex: 0 1 calc(100% / 3);*/
}

h2 {
  margin: 5%;
  text-decoration: underline;
  /*flex: 0 1 calc(100%/5);*/
}
